body {
  background: ghostwhite;

  a {
    color: black;
    text-decoration: none;

    &:visited,
    &:hover {
      color: black;
      text-decoration: none;
    }
  }

  div {
    box-sizing: border-box;
  }
}
