<!DOCTYPE html>
<html ng-app="campfire">
  <head>
    <meta charset="utf-8">

    <!-- <% if ( htmlWebpackPlugin.options.test ) { %>
    <meta name="com.campfire.api.url" content="<%= htmlWebpackPlugin.options.test %>">
    <% } %> -->

    <title>Campfire</title>
    <base href='/'>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body ng-controller="ApplicationController">
    <navbar ng-if="currentUser"></navbar>
    <ng-view class="page-container"></ng-view>
  </body>
</html>
