<div ng-if="currentUser">

  <div class="input-form">
    <div class="input-group">
      <div class="input-title">Title</div>
      <div class="input-container">
        <input type="text" ng-model="newStory.title" placeholder="A Tale of Two Kitties..."></input>
      </div>
    </div>

    <div class="input-group">
      <div class="input-title">Synopsis</div>
      <div class="input-container">
        <textarea type="text" ng-model="newStory.description" placeholder="Description"></textarea>
      </div>
    </div>

    <div class="input-group">
      <div class="input-container right">
        <div class="button" ng-click="createNewStory()">Submit</div>
      </div>
    </div>
  </div>
</div>
