<div class="edit-card-container">
  <div ng-if="state === 'authoring'">
    <div class="title-container">
      <h3> {{ plotDevice.title }}</h3>

      <a href="#" ng-click="toggleEdit()" class="edit-text">
        <span>Edit</span>
      </a>
    </div>

    <div class="plot-text">
      <p>{{ plotDevice.message }}</p>
    </div>

    <div ng-if="plotDevice.user_inputs.length > 0">
      <div ng-repeat="userInput in plotDevice.user_inputs">
        <show-user-input></show-user-input>
      </div>
    </div>

    <new-user-input plot-device-id="{{ plotDevice.id }}"></new-user-input>
  </div>

  <div ng-if="state === 'editing'">
    <div class="input-form">
      <div class="input-group">
        <div class="input-container">
          <div class="input-title">Title</div>
          <input type="text" ng-model="editingDevice.title"></input>
        </div>
      </div>

      <div class="input-group">
        <div class="input-container">
          <div class="input-title">Synopsis</div>
          <textarea type="text" ng-model="editingDevice.message"></textarea>
        </div>
      </div>

      <div class="input-group">
        <div class="half-input-container">
          <div class="button" ng-click="toggleEdit()">
            <a href="#">
              Cancel
            </a>
          </div>
        </div>

        <div class="half-input-container">
          <div class="button" ng-click="updateDevice()">
            <a href="#">
              Save
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
