<div class="new-plot-device" ng-if="successDevices.length > 0">
  <div ng-if="!writing" ng-click="toggleInput()">
    <div class="user-prompt">
      <a href="#" class="edit-text">
        Add a user input
      </a>
    </div>
  </div>

  <div class="new-user-input" ng-if="writing">
    <div class="input-form">
      <div class="input-group">
        <div class="input-title">
          Action
        </div>
        <div class="input-container">
          <input type="text" ng-model="newUserInput.title"></input>
        </div>
      </div>

      <div class="input-group">
        <div class="input-title">
          Action Description
        </div>
        <div class="input-container">
          <textarea type="text" ng-model="newUserInput.message"></textarea>
        </div>
      </div>

      <div class="input-group">
        <div class="input-title">
          Action Result
        </div>
        <div class="input-container">
          <textarea type="text" ng-model="newUserInput.success_message"></textarea>
        </div>
      </div>

      <div class="input-group">
        <div class="input-title">
          Jump To:
        </div>
        <div class="input-container">
          <select ng-model="successDevice.selected"
                  ng-options="nextDevice.title for nextDevice in successDevices">
          </select>
        </div>
      </div>

      <div class="next-card-container">
        <div ng-click="previewDevice()">
          <a href="#" class="edit-text">
            {{ previewing ? 'Hide Preview' : 'Where does this lead?' }}
          </a>
        </div>

        <div class="preview-text-container">
          <p class="preview-plot-device" ng-if="previewing">
            {{ successDevice.selected.message }}
          </p>
        </div>
      </div>

      <div class="input-group">
        <div class="half-input-container">
          <div class="button" ng-if="writing" ng-click="toggleInput()">
            <a href="#">
              Cancel
            </a>
          </div>
        </div>

        <div class="half-input-container">
          <div class="button" ng-if="writing" ng-click="createNewUserInput()">
            <a href="#">
              Save
            </a>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="warning-text" ng-if="successDevices.length < 1">
  The reader has nowhere to go.
</div>
