<h3>Preview</h3>
<div ng-click="resetStory()">
  <a href="#">
    Reset
  </a>
</div>

<div class="story-view">
  <div class="story-inner-container">
    <div class="story-card-container">
      <plot-card ng-repeat="plotDevice in plotDeviceDisplayed track by $index"
                 ng-show="storyIndex === $index"
                 back-tracking="true">
      </plot-card>
    </div>

    <div class="story-controls">
      <a href="#" ng-click="previousCard()" class="story-control" ng-class="{ 'active': storyIndex > 0 }">
        Previous
      </a>
      <div class="story-index-count">
        {{ storyIndex + 1 }} / {{ plotDeviceDisplayed.length }}
      </div>
      <a href="#" ng-click="nextCard()" class="story-control" ng-class="{ 'active': storyIndex < plotDeviceDisplayed.length - 1 }">
        Next
      </a>
    </div>
  </div>
</div>
