<div class="new-plot-device">
  <div ng-click="toggleInput()">
    <h5>
      {{ writing ? 'Cancel' : 'Add a user input' }}
    </h5>
  </div>

  <div class="new-user-input" ng-if="writing">
    <h5>Title</h5>
    <input type="text" ng-model="newUserInput.title"></input>

    <h5>Message</h5>
    <input type="text" ng-model="newUserInput.message"></input>

    <!-- Add check box to see if a stat check is needed -->
    <!-- Pass -->
    <!-- <input type="text" ng-model="newUserInput.passValue"></input> -->

    <!-- Success -->
    <!-- Message if Chosen -->
    <h5>Success Message</h5>
    <input type="text" ng-model="newUserInput.successMessage"></input>

    <!-- Goes to What Snippet? -->
    <h5>Jump To:</h5>
    <!-- Add ability to create a new snippet -->
    <!-- On Successful Save, Set as the Next Device -->
    <!-- <input type="text" ng-model="newUserInput.successId"></input> -->
    <select ng-model="successDevice.selected"
            ng-options="nextDevice.title for nextDevice in successDevices">
    </select>
    <!-- Write a Filter that strips out the current plot device -->

    <div ng-click="previewDevice()">
      <h5>Preview</h5>
    </div>

    <div class="preview-plot-device" ng-if="previewing">
      {{ successDevice.selected.message }}
    </div>
    <!-- Need to Make Option to add New Input -->

    <!-- Failure -->
    <!-- <input type="text" ng-model="newUserInput.failureMessage"></input>
    <input type="text" ng-model="newUserInput.failureId"></input> -->

    <a href="#" ng-click="createNewUserInput()">
      Save
    </a>
  </div>
</div>
