<div ng-if="currentUser" ng-controller="EditStoryController">
  <div ng-if="editingStory" class="">
    Editing: {{ editingStory.title }}
    <div class="story">
      <div ng-repeat="plotDevice in editingStory.plot_devices">
        <edit-plot-device state="authoring"></edit-plot-device>
      </div>
    </div>
    <div class="add-snippet">
      <a href="#" ng-click="toggleNewSnippet()">Add A New Text Block</a>

      <new-plot-device ng-if="addingSnippet"></new-plot-device>
      <a href="#" ng-if="addingSnippet" ng-click="toggleNewSnippet()">
        Cancel
      </a>
    </div>
  </div>
</div>
