<div class="show-user-input" ng-if="!writing">
  <h4 class="user-input-title">
    {{ $index + 1 }} - {{ userInput.title }}
    <span ng-click="editUserInput()">
      <a href="#" class="edit-text">
        Edit
      </a>
    </span>
  </h4>
  <p>
    {{ userInput.message }}
  </p>
  <div class="preview-device" ng-click="previewDevice()">
    <a href="#" class="edit-text">{{ previewing ? 'Hide' : 'Where does this lead?' }}</a>
  </div>

  <div class="preview-plot-device" ng-if="previewing">
    {{ successDevice.selected.message }}
  </div>
</div>

<div class="show-user-input" ng-if="writing">
  <h5>Title</h5>
  <input type="text" ng-model="editingInput.title"></input>

  <h5>Message</h5>
  <input type="text" ng-model="editingInput.message"></input>

  <h5>Success Message</h5>
  <input type="text" ng-model="editingInput.success_message"></input>

  <!-- Goes to What Snippet? -->
  <div>
  <h5>Jump To:</h5>
  <!-- Add ability to create a new snippet -->
  <!-- On Successful Save, Set as the Next Device -->
  <!-- <input type="text" ng-model="newUserInput.successId"></input> -->
  <select ng-model="successDevice.selected"
          ng-options="nextDevice.title for nextDevice in successDevices">
  </select>

  <a href="#" ng-click="updateUserInput()">
    Save
  </a>
</div>
