<div class="story-snippet">
  <!-- if author -->
  <div ng-if="state === 'authoring'">
    <a href="#" ng-click="toggleEdit()">
      Edit
    </a>

    <h5>{{ $index }}</h5>
    <h5> {{ plotDevice.title }}</h5>
    <h4>{{ plotDevice.message }}</h4>

    <div ng-repeat="userInput in plotDevice.user_inputs">
      <h5>
        {{ userInput.title }}
      </h5>
    </div>

    <new-user-input plot-device-id="{{ plotDevice.id }}"></new-user-input>

    <!-- <a href="#" ng-click="addChild()">Add Child</a> -->
    <!-- <new-plot-device parent-id="{{ plotDevice.id }}" ng-if="addingChild"></new-plot-device> -->
    <!-- <a href="#" ng-if="addingChild" ng-click="addChild()">
      Cancel
    </a> -->
  </div>

  <!-- if editing  -->
  <div ng-if="state === 'editing'">
    <h1>Editing</h1>
    <!-- <input type="text" ng-model="snippet.title"></input>
    <h3>Message</h3>
    <textarea ng-model="snippet.message"></textarea> -->

    <a ng-click="submitEdit">
      Save
    </a>
    <a href="#" ng-click="toggleEdit()">
      Cancel
    </a>
  </div>
</div>


<!-- if viewing -->

<!-- <h3>{{ story.title }}</h3> -->
<!-- <div class="" ng-repeat="story in stories">
  <a ng-href="/stories/{{ story.id }}">
    <h4>{{ story.title }}</h4>
  </a>
</div> -->
